<ul>
<%= render partial: '/hello' %>
</ul>

<h1>Welcome to RPGsmash!!! This App supports the creation and management of multiple characters in different RPG universes!
</h1>

<h3>Click the link below to see our different supported RPG universes. Dungeons and Dragons included!</h3>
<%= link_to 'RPG universes', universes_path %>