<% if @user %>
	<h3>Welcome <%= @user.email %> !</h3>
	<p><%= button_to 'Log Out', '/users/sign_out', method: :delete %></p>
<% else %>
	<h3><%= button_to 'Sign In', '/users/sign_in', method: :get %></h3>
	<h3><%= button_to 'Sign Up', '/users/sign_up', method: :get %></h3>
<% end %>